/* COLORS
#dee8f7 - light blue
#9bb6de - in-between blue
#6289c4 - dark blue
#f7f4de - light yellow
*/



body {
	background-color: #dee8f7;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

.hero {

}

#headshot {
	max-width: 30%;
}