/* COLORS
#383944 - CUSTOM thundercloud
#68829e - waterfall
#aebd38 - moss
#598234 - meadow
*/



body {
	background-color: #68829e;
	font-family: sans-serif;
}

h1, h2, h3 {
	color: #fff;
	font-weight: normal;
}


h2 {
	margin-top: .5em;
	margin-bottom: .2em;
}

#bio-headline {
	margin-top: 0;
}


.container {
	max-width: 95%;
	margin: 0 auto 75px;
}

.hero {
	max-width: 25%;
}

.bio-flex {
	display: flex;
	display: -webkit-flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	align-items: flex-start;
}

.bio-flex-child {

}

#headshot {
	max-width: 100%;
}

#bio {
	padding-left: 1em;
}

.section {
	/*background-color: #505160;*/
}

.dev-links {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.dev-links a {
	text-decoration: none;
	color: #383944;
}

.dev-links a:hover {
	text-decoration: none;
	color: white;
}

footer {
	background-color: #505160;
	width: 100%;
	position: fixed;
    left: 0;
    bottom: 0;
    max-height: 40px;
    z-index: 1000;
}

.footer-ul {
	display: flex;
	display: -webkit-flex;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 1em;
	margin-top: 0px;
}

.footer-li {
	padding: .5em 1em .5em 0;
	margin: auto;
	font-size: 1.2em;
	letter-spacing: 1px;
}

.footer-li a {
	text-decoration: none;
	color: #aebd38;
}

.footer-li a:hover {
	color: white;
}

.copyright {
	color: white;
	font-size: .8em;
	/*font-weight: bold;*/
	letter-spacing: 0px;
}