/* COLORS
#dee8f7 - light blue
#9bb6de - in-between blue
#6289c4 - dark blue
#f7f4de - light yellow
*/



body {
	background-color: #dee8f7;
}

h3 {
	margin-bottom: .5em;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	max-width: 95%;
	margin: 0 auto 75px;
}

.hero {
	max-width: 25%;
}

.bio-flex {
	display: flex;
	display: -webkit-flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	align-items: flex-start;
}

.bio-flex-child {

}

#headshot {
	max-width: 100%;
}

#bio {
	padding-left: 1em;
}

.dev-links {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

footer {
	background-color: #6289c4;
	width: 100%;
	position: fixed;
    left: 0;
    bottom: 0;
    max-height: 40px;
    z-index: 1000;
}

.footer-ul {
	display: flex;
	display: -webkit-flex;
	list-style-type: none;
	padding-left: 0;
}

.footer-li {
	padding: .5em 1em .5em 0;
	margin: auto;
}